
.site {
    background-color: #1F2937;
}

.container {
    margin-left: 150px;
    margin-bottom: 150px;
    font-family: Arial;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
  }

  .links {
    margin-top: 15px;
    margin-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
  }

  .one {
    margin-right: 25px;
  }

  .two {
    margin-right: 25px;
  }


  .three {
    margin-right: 25px
  }

  .container-2 {
    margin-right: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }

  .image {
    height: 50px;
    width: 400px;
    font-family: Arial;
    color: #E5E7EB;
    background-color: grey;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
    background-color: #1F2937;
  }


  .para {
    font-family: Arial;
    font-size: 18px;
    color: #E5E7EB;
  }

  button {
    display: inline-block;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: #3882F6;
    border-radius: 10px;
  }

  body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
  

  